[submodule "makefiles"]
	path = makefiles
	url = https://github.com/dbosk/makefiles.git
	branch = master
[submodule "libsci"]
	path = libsci
	url = https://github.com/dbosk/libsci.git
	branch = master
